.example .tf-nc {
    display: flex;
    align-items: center;
    gap: 5px
}
.tf-custom .tf-nc:before, .tf-custom .tf-nc:after {
    /* css here */
}
.tf-custom li li:before {
    /* css here */
}

.material-symbols-outlined {

    font-variation-settings:
            'FILL' 0,
            'wght' 200,
            'GRAD' 0,
            'opsz' 20
}
.material-symbols-outlined:hover{
    cursor: pointer;
}

.node-square{
    border-radius: 5px;
}

.node-square:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -5px, rgba(0, 0, 0, 0.04) 0 5px 5px -5px;
}